
@import '../../styles/variables';

.task-list {
    margin-bottom: 40px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.task-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.task-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.task-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.task-list::-webkit-scrollbar {
    width: 8px;
}
